@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Josefin Slab", serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background-color: #fff;
  color: #000;
  width: 100%;
  padding: 40px 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
header h2 {
  font: 700 2em "Josefin Slab", sans-serif;
}
header a {
  font-size: 1.5em;
  color: #000;
}
header a:hover {
  color: #fa8072;
}
.desc {
  background: url("../img/pattern-binary.jpg");
  height: 500px;
  margin-top: 10vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  height: 9vh;
  width: 100%;
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.desc h3 {
  font: 700 2em "Josefin Slab", sans-serif;
  text-align: center;
  padding: 10px;
}
.text-desc {
  background-color: #f5f5f5;
  color: #666;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-desc p {
  font-size: 1.5em;
  text-align: center;
  padding: 30px 80px;
}
#biography {
  background-color: #fff;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#biography h3 {
  font: 700 3em "Josefin Slab", sans-serif;
  text-align: center;
  padding: 50px;
}
#biography span {
  font-size: 1em;
  font-style: italic;
}
.biography-text {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 150px;
}
.biography-text p {
  font-size: 1.7em;
  text-align: center;
  line-height: 1.2;
  text-align: justify;
}
.biography-text span {
  font-weight: 700;
}
#work {
  background: url("../img/babbage-analytical-engine.png");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-div {
  background-color: #fafafacc;
  width: 60%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.work-div h3 {
  font: 700 3em "Josefin Slab", sans-serif;
  padding: 20px 0;
}
.work-div p {
  font: 600 1.2em "Josefin Slab", sans-serif;
  text-align: center;
  line-height: 1.2;
  padding: 10px 80px;
  text-align: justify;
}
#legacy {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
}
#legacy h3 {
  font: 700 3em "Josefin Slab", sans-serif;
  text-align: center;
  padding: 60px 0;
}
.legacy-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  width: 70%;
  margin: 0 auto;
}
.left p,
.right p,
#legacy p {
  font-size: 1.7em;
  text-align: justify;
  line-height: 1.2;
  padding: 30px 0;
}
footer {
  background-color: #000;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
